body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding: 0 1em;
    max-width: 980px;
}

.header{
    background: linear-gradient( to right, rgba(65, 65, 65, 0.7), rgba(65, 65, 65, 0.7) ), 
                url(../imgs/pexels-la-miko-3681653.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .logo-text{
    padding: 25px;
}

.header .hamburguer-btn{
    position: absolute;
    right: 5%;
    top: 5%;
}

.header nav{
    width: 100vw;
    text-align: center;
    padding-left: 0px;
    background-color: white;
}

.header nav ul{
    padding: 0%;
    margin-top: 1em;
    padding: 0 5px;
}

.header nav ul li{
    list-style-type: none;
    border-bottom: 2px solid rgba(212, 211, 211, 0.7);
    padding: 12px;
}

.header nav ul li a{ 
   text-decoration: none;
   color: black;
}

.header .inicio{
    width: 100%;
    color: white;
    margin-top:60px;
}

.header .inicio .titulo-h1{
    text-align: center;
    font-size: 42px;
}

.header .inicio p{
    text-align: center;
    font-size: 16px;
}

.header .inicio button{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px 0;
    color: white;
}

.header .inicio .saiba-mais{
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid white;
    margin-bottom: 20px;
}

.header .inicio .dowload{
    background-color: rgb(218, 222, 2);
    border: none;
    outline: none;
}

.sobre-nos{
    margin-top: 50px;
}

.sobre-nos h3{
    text-align: center;
    font-size: 32px;
    color: #5a5a5a;
    font-weight: bold;
}

.sobre-nos .text{
    margin-top: 30px;
    text-align: center;
    color: #acabab;
}

.sobre-nos .barras-sobre-nos{
    margin: 5em 10%;
}

.sobre-nos .text-type{
    margin: 20px 0 40px;
}

.sobre-nos .text-type p, .sobre-nos i{
    display: inline;
}

.sobre-nos .text-type i{
    margin-right: 15px;
}

.sobre-nos .progress-60{
    background-color: rgba(252, 82, 82, 0.8);
}

.sobre-nos .progress-60-text{
    color: rgba(252, 82, 82, 0.8);
}

.sobre-nos .progress-82{
    background-color: rgb(218, 222, 2);
}

.sobre-nos .progress-82-text{
    color: rgb(218, 222, 2);
}

.sobre-nos .progress-86{
    background-color: rgb(140, 0, 155);
}

.sobre-nos .progress-86-text{
    color: rgb(140, 0, 155);
}

.portfolio{
    background-color: #f5f4f4;
    padding-top: 60px;
}

.portfolio h3{
    text-align: center;
    font-size: 32px;
    color: #5a5a5a;
    font-weight: bold;
}

.portfolio p{
    text-align: center;
    padding-bottom: 60px;
}

.portfolio .projetos-img{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}



