body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

.header{
    background-image: url(../imgs/paisagem.jpg);
    height: 80vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.header .logo-text{
    padding: 25px;
}

.header .hamburguer-btn{
    position: absolute;
    right: 5%;
    top: 5%;
}

.header nav{
    width: 100vw;
    text-align: center;
    padding-left: 0px;
    background-color: white;
}

.header nav ul{
    padding: 0%;
    margin-top: 1em;
    padding: 0 5px;
}

.header nav ul li{
    list-style-type: none;
    border-bottom: 2px solid rgba(212, 211, 211, 0.7);
    padding: 12px;
}

.header nav ul li a{ 
   text-decoration: none;
   color: black;
}
